<nav class="nav fixed-top bg-primary justify-content-end p-2">
  <li class="nav-item">
    <a class="nav-link active text-light"  routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" routerLink="/about">about</a>
  </li>
  <li *ngIf="!loggedStatus" class="nav-item">
    <a class="nav-link text-light" routerLink="/signin">signin</a>
  </li>
  <li *ngIf="!loggedStatus" class="nav-item">
    <a class="nav-link  text-light" routerLink="/signup" aria-disabled="true">signup</a>
  </li>
  <li *ngIf="loggedStatus" class="nav-item">
    <a class="nav-link  text-light" routerLink="/signup" aria-disabled="true">logout</a>
  </li>
</nav>