<div class="container mt-5 pt-5 mx-auto col-md-4">

      <form [formGroup] = "userForm" (ngSubmit)="onSubmit()"> 
        <div class="form-group">
          <label class="text-primary" for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" formControlName="userEmail" aria-describedby="emailHelp">
        
        </div>
        <div class="form-group">
          <label class="text-primary"  for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="userPassword">
        </div>
        <br>
        <button type="submit" (click)="updateValues()" class="btn btn-block btn-primary">Submit</button>
        <br>
        Not registered yet? <a routerLink="/signup">register!!</a> Here
      </form>

</div>